<ion-view view-title='Login'>
  <ion-content class='padding'>
    <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
      <div class="list">
        <label class="item item-input">
        <input type="email"
        name="email"
        placeholder="Email"
        id="email"
        ng-model="loginForm.email"
        required="required"
        class="form-control">
</label>
        <label class="item item-input">
        <input type="password"
        name="password"
        placeholder="Password"
        id="password"
        ng-model="loginForm.password"
        required="required"
        class="form-control">
        </label>
      </div>


      <button type="submit" class="button button-balanced">Sign in</button>
    </form>
    <a class="button button-positive" id='sign-up' href="#/user/sign_up">Sign Up</a>
  </ion-content>
</ion-view>
