<ion-view view-title='NewTable'>
  <ion-content class='padding'>
    <form ng-submit="createTable(table)" role="form">
      <label class = "item item-input">
        <input id="name" placeholder="Name" type="text" ng-model="table.name"/>
      </label>

      <label class = "item item-input">
        <input id="spaces" placeholder="Spaces" type="text" ng-model="table.spaces"/>
      </label>

      <label class = "item item-input">
        <input id="house_number" placeholder="House Number" type="text" ng-model="table.house_number"/>
      </label>

      <label class = "item item-input">
        <input id="street" placeholder="Street" type="text" ng-model="table.street"/>
      </label>

      <label class = "item item-input">
        <input id="city" placeholder="City" type="text" ng-model="table.city"/>
      </label>

      <label class = "item item-input">
        <input id="postcode" placeholder="Postcode" type="text" ng-model="table.postcode"/>
      </label>

        <button type="submit" class="button button-outline button-positive button-full">Create Table</button>

    </form>
    <a href="#/tab/account" class="button button-outline button-positive button-full">Back to Account</a>

  </ion-content>
</ion-view>
