.login {
    background: url(../img/login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.logo {
  max-height: 180px;
  text-align: center;
  top: 40%;
 left: 50%;
 transform: translate(30%, 15%);
}

.dinewithme {
  color: white;
  text-align: center;
}

.meals {
  background-color: #FFFBF1;
  border-color: #2A1D00;
}

.meals .ion-chevron-right {
  color: #2A1D00;
  border-color: #2A1D00;
}

.meals .meal-link {
  text-align: left;
  text-decoration: none;
}

.information {
  color: #2A1D00;
  border-color: #2A1D00;
  margin: 0px;
  border-radius: 8px;
}
 /*table view styling*/
.table-info-box {
  padding-bottom: 2px;
}

#map {
    height: 100%;
    width: 100%;
}

.scroll {
    height: 100%;
}

.list {
  margin-bottom: 1px;
}

.tab-nav {
}
